!!!
%html
  %body
    %doctype
      %meta{:charset => "utf-8"}/
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
      %meta{:content => "robocon,india,fr.agnel", :name => "keywords"}/
      %meta{:content => "Robocon CRCE", :name => "author"}/
      %title Robocon CRCE | Home
      %link{:href => "../css/index.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
      %header
        .container
          .upper-contact
            %article Contact us:roboconcrce@gmail.com
          .brand
            %a{:href => "#"}
              %img{:alt => "RoboconCrce", :src => "../img/robocon-logo.png"}/
          .navigation-bar
            %ul
              %li
                %a{:href => "#"} home
              %li
                %a{:href => "#"} home
              %li
                %a{:href => "#"} home
              %li
                %a{:href => "#"} home
              %li
                %a{:href => "#"} home

    
        
        
        